* {
    color: #000;
}

html {
    left: 0;
    top: 0;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

body {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

side-nav,
body {
    padding: 0;
    margin-top: 0;
    width: 380px;
    height: 100%;
}

main-nav,
body {
    width: 100%;
}

.project-name {
    color: rgb(53, 64, 100);
    width: max-content;
    text-align: center;
    font-family: serif;
    font-size: 50px;
    font-weight: 900;
    padding-left: 15px;
}


footer {
    background-color: rgb(65, 82, 136);
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
}