ul {
    list-style-type: none;
    float: right;
    margin-top: 0px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
    position: relative;
    margin-right: 10px;
}

li a {
    display: block;
    color: rgb(53, 64, 100);
    text-align: center;
    padding: 18px 17px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a:hover {
    background-color: rgba(45, 59, 104);
    color: #fff;
}