ul {
    list-style-type: none;
    float: right;
    position: relative;
    overflow: hidden;
    background-color: #fff;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    float: left;
    position: relative;
}

li a {
    display: block;
    color: rgba(29, 34, 187, 0.719);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(45, 59, 104);
    color: #fff;
}